
article
    display: block
    header
        width: 100%
        display: block
        padding: 1.2em 4em
        h1
            text-align: center
            display: block
        h6:first-of-type
            float: left
        h6:last-of-type
            float: right

article.sample
    grid-row-end: span 2
    grid-column-end: span 1
