
main article
    display: block

main article header
    width: 100%
    display: block
    padding: 1.2em 4em

main article header h2
    /* title */
    text-align: center
    display: block

main article header h6:first-of-type
    float: left

main article header h6:last-of-type
    float: right
