@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Unbounded", cursive;
  padding-top: 30vh;
  scroll-behavior: smooth;
}
body#full { padding-top: 30vh }
body.dark { background-color: #181925; color: #ccc }
body.light { background-color: #e6e7ef; color: #777 }
body.light nav#top { background-color: #e6e7ef }
body.dark nav#top { background-color: #181925 }
header,main,footer {
  display: block;
  min-height: 25vh;
}
span.spacer {
  display: block;
  width: 100%;
  height: 10vh;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: auto;
  position: fixed;
  bottom: 1%;
  right: 1%;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}
input:checked + .slider { background-color: #937ccc }
input:focus + .slider { box-shadow: 0 0 1px #937ccc }
input:checked + .slider:before { transform: translateX(26px); transition: 0.4s }
p,h1,h2,h3,h4,h5,h6 { margin: 2vh 2vw; }
svg#logo {
  position: fixed;
  max-height: 80px;
  max-width: 80px;
  height: 20%;
  width: 20%;
  bottom: 1%;
  left: 1%;
  cursor: pointer;
  animation: SlideOutIn 2s linear;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -3s);
  transition: 0.4s;
}
svg#logo:hover { transform: scale(1.1); }
svg#header {
  z-index: -1;
  position: relative;
  width: 90vw;
  height: 100vh;
  margin: 0 5vw;
  animation: SlideInOut 2s linear;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -2s);
  transform: translateY(-50%);
  display: block;
  transition: 0.4s;
}
@keyframes SlideInOut {
  from { transform: translateY(0) }
  to { transform: translateY(-50%) }
}
@keyframes SlideOutIn {
  from { left: -44% }
  to { bottom: 1%; left: 1% }
}
main { padding: 0.4em }
footer { padding: 0.7em }
footer .copyright {
  position: sticky;
  display: block;
  bottom: 0;
}
body#full nav#top {
  position: fixed;
  width: 100%;
  align-content: center;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.4s;
}
header#about { margin: 2em }
nav#top ul {
  width: fit-content;
  height: fit-content;
  margin: auto;
}
nav#top ul li {
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
  overflow: visible;
}
nav#top ul li a,nav#top ul li a:visited {
  float: left;
  color: #b47e93;
  padding: 2vh 4vw;
  font-size: 4vw;
  font-family: "Concert One", cursive;
  transition: ease-in-out 0.2s;
  text-align: center;
  text-decoration: underline;
}
nav#top a:hover { transform: scale(1.1) }
@media only screen and (min-width: 720px) {
  nav#top ul li a,nav#top ul li a:visited { font-size: 3vw }
}
@media only screen and (min-width: 1250px) {
  nav#top ul li a,nav#top ul li a:visited { font-size: 2vw }
}
