@use "sass:math"

p 
    font-size: $base-scale - $scale-incr
h6
    font-size: $base-scale - math.div($scale-incr, 2)
h5
    font-size: $base-scale + $scale-incr
h4
    font-size: $base-scale + $scale-incr * $scale-mul
h3
    font-size: $base-scale + $scale-incr * $scale-mul * 2
h2
    font-size: $base-scale + $scale-incr * $scale-mul * 3
h1
    font-size: $base-scale + $scale-incr * $scale-mul * 4

a
    text-decoration: underline

a:hover
    color: $link-color
